<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<nav>
			<a href="/">HOME</a>
			<a href="/about/">ABOUT</a>
			<a href="/blog/">BLOG</a>
		</nav>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: auto;
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	nav {
		display: flex;
		justify-content: center;
		gap: 16px;
		padding: 16px;
		background-color: #f0f0f0;
		margin: auto;
	}
	a{
		text-decoration: none;
		color: black;
		padding: 8px 16px;
	}
</style>
